

.toaster-main-container{
     display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid var(--black);
    border-radius: 5px;
    width: fit-content;
    animation: slideIn 0.2s ease-out;
    .toaster-header{
      display: flex;
      justify-content: space-between;
      .close-button:hover{
        cursor: pointer;
          color: var(--light-gray);
      }
    }
}

@keyframes slideIn{
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.error{
  background-color: red;
  color: var(--white);
  border: none;
}








