.login-main-container {
  display: flex;
  justify-content: center;
  padding: 60px 0px;
  border-bottom: 1px solid var(--black);
  .login-container {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    .login-content-container {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      border: 1px solid var(--lighter-gray);
      border-radius: 5px;
      padding: 20px;
      width: clamp(200px, 50vw, 400px);
      .worker-login-header {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        .worker-login-title {
          font-size: 25px;
          font-weight: 600;
        }
        .worker-login-subtitle {
          color: var(--grayish-blue);
          font-size: 14px;
        }
      }
      .login-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .login-google-button{
          a{
            text-decoration: none;
          }
          Button {
              width: 100%;
          img {
            width: 20px;
            height: 20px;
          }
        }
        }
        .login-divider {
          background-color: var(--lighter-gray);
          height: 1px;
          position: relative;
          .login-divider-content {
            background-color: var(--white);
            padding: 0px 2px;
            position: absolute;
            left: 150px;
            top: -7px;
            color: var(--grayish-blue);
            font-size: 12px;
          }
        }
        .login-input-field{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            label{
                font-size: 14px;
            }
            input{
                padding: 10px;
                border: 1px solid var(--lighter-gray);
                border-radius: 5px;
            }
        }
      }
       .login-footer{
            text-align: center;
            font-size: 15px;
            .sign-up-link{
                color: var(--primary-blue);
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
  }
}
