.job-list-main-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  .job-list-header {
    display: flex;
    justify-content: space-between;
    .job-list-no {
      font-size: 25px;
      font-weight: 600;
    }
    .job-list-sort {
      color: rgb(114, 113, 113);
    }
  }
  .job-list-content-container {
    .job-list-no-job-content {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      text-align: center;
      align-items: center;
      background-color: #f2f6fb;
      padding: 60px;
      border-radius: 5px;
      .job-list-no-job-title {
        font-size: 20px;
      }
      .job-list-no-job-subtitle {
        color: rgb(114, 113, 113);
      }
    }
  }
}
